body {
   margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 background: linear-gradient(135deg, #FFA500, #FFC0CB, #FFFACD);
  background-attachment: fixed;
 font-family: Arial, sans-serif;
   background-repeat: no-repeat;
  background-size: cover;
color:white ;
text-align: center;
}

}

h1 {
  font-size: 3em;
  text-align: center;
  color: white;
  text-shadow:0 2px 4px rgba(0,0,0,0.25 );
  animation: fadeIn 3s ease-in-out;
  margin-top: 0;
}

p {
  font-size: 1.2em;
  color: white;
  text-align: center;
  margin-top: 20px;
  max-width: 600px;
  animation: fadeIn 5s ease-in-out;
  text-shadow: 0 2px 4px rgba(0,0,0,0.25 )
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}

.button-secret {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: rgba(255,255,255,0.2);
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 0.9em;
  transition: 0.3s;
  text-shadow: 0 2px 4px rgba(0,0,0,0.25 );
}

.button-secret:hover {
  background: rgba(255,255,255,0.4);
}

.hidden-message {
  display: none;
  position: absolute;
  bottom: 80px;
  right: 20px;
  background: white;
  color: #333;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  max-width: 250px;
  font-size: 0.95em;
}
