body {
	margin: 0;
	padding: 0;
	background-image: url(img/minefon.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	background-attachment: fixed;
	overflow-x: hidden;
}
.window {
	max-width: 600px;
	margin: 40px auto;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 15px;
	padding: 20px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
	font-family: Arial, sans-serif;
	width: 90%;
	box-sizing: border-box;}
	@media (max-width: 480px) {
    .window{ 
    	margin: 20px 10px;
    	padding: 15px;
    	font-size: 14px;
     }

/* Звёзды поверх сайта */
.stars-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  background: url("img/993.png") center/cover no-repeat;
  opacity: 0.9;
[  ] }


.img {
display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(135deg, #ff6a9a, #ff4d88);
  color: white;
  text-decoration: none;
  border-radius: 15px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.25 );
}